.Hue-High {
    background-color: hsl(359, 50%, 50%);
}
.Hue-350 {
    background-color: hsl(350, 50%, 50%);
}
.Hue-340 {
    background-color: hsl(340, 50%, 50%);
}
.Hue-330 {
    background-color: hsl(330, 50%, 50%);
}
.Hue-320 {
    background-color: hsl(320, 50%, 50%);
}
.Hue-310 {
    background-color: hsl(310, 50%, 50%);
}
.Hue-300 {
    background-color: hsl(300, 50%, 50%);
}
.Hue-290 {
    background-color: hsl(290, 50%, 50%);
}
.Hue-280 {
    background-color: hsl(280, 50%, 50%);
}
.Hue-270 {
    background-color: hsl(270, 50%, 50%);
}
.Hue-260 {
    background-color: hsl(260, 50%, 50%);
}
.Hue-250 {
    background-color: hsl(250, 50%, 50%);
}
.Hue-240 {
    background-color: hsl(240, 50%, 50%);
}
.Hue-230 {
    background-color: hsl(230, 50%, 50%);
}
.Hue-220 {
    background-color: hsl(220, 50%, 50%);
}
.Hue-210 {
    background-color: hsl(210, 50%, 50%);
}
.Hue-200 {
    background-color: hsl(200, 50%, 50%);
}
.Hue-190 {
    background-color: hsl(190, 50%, 50%);
}
.Hue-180 {
    background-color: hsl(180, 50%, 50%);
}
.Hue-170 {
    background-color: hsl(170, 50%, 50%);
}
.Hue-160 {
    background-color: hsl(160, 50%, 50%);
}
.Hue-150 {
    background-color: hsl(150, 50%, 50%);
}
.Hue-140 {
    background-color: hsl(140, 50%, 50%);
}
.Hue-130 {
    background-color: hsl(130, 50%, 50%);
}
.Hue-120 {
    background-color: hsl(120, 50%, 50%);
}
.Hue-110 {
    background-color: hsl(110, 50%, 50%);
}
.Hue-100 {
    background-color: hsl(100, 50%, 50%);
}
.Hue-90 {
    background-color: hsl(90, 50%, 50%);
}
.Hue-80 {
    background-color: hsl(80, 50%, 50%);
}
.Hue-70 {
    background-color: hsl(70, 50%, 50%);
}
.Hue-60 {
    background-color: hsl(60, 50%, 50%);
}
.Hue-50 {
    background-color: hsl(50, 50%, 50%);
}
.Hue-40 {
    background-color: hsl(40, 50%, 50%);
}
.Hue-30 {
    background-color: hsl(30, 50%, 50%);
}
.Hue-20 {
    background-color: hsl(20, 50%, 50%);
}
.Hue-10 {
    background-color: hsl(10, 50%, 50%);
}
.Hue-Low {
    background-color: hsl(0, 50%, 50%);
}
